.info-item{
    flex-direction: column;
    text-align: center;
    margin: 0px 28px;
    width: 30%;
}

.ii-title{
    font-size: 28px;
    font-weight: 600px;
    margin-top: 18px;
}

.ii-description{
    margin-top: 18px;
    font-size: 30px;
}

.ii-icon{
    font-size: 2px;
    font-weight: 100;
    width: 45%;
}