.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #222222, #888888);
  }
  
  
  form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input,
  form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  form button {
    background: #ff6699;
    color: white;
    cursor: pointer;
  }
  
  form button:hover {
    background: #ff3366;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 5px;
  }
  