.topFold{
    height: 92vh;
    overflow: hidden;
}

.tf-left{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 48px;
}

.tf-heading{
    font-size: 72px;
    font-weight: 600;
    line-height: 72pxx;
}

.tf-description{
    font-size: 20px;
    margin: 24px 0px;
}

.tf-left-btns{
    margin-top: 36px;
    display: flex;

}

.tf-left-secondary-btn{
    margin-left: 36px;
}